.main-container {
  height: 800px;
  width: 800px;
  border: 1px solid red;
  position: relative;
}

#canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  cursor: none;
}